[Unit]
Description=INDIGO IAM VOMS AA Service for %I
After=syslog.target network.target

[Service]
WorkingDirectory=/etc/iam-voms-aa
ExecStart=/usr/bin/java -jar /usr/share/indigo-iam/iam-voms-aa.jar --spring.config.location=file:/etc/iam-voms-aa/config/ --spring.config.name=application.%i --logging.file.path=
KillMode=process
User=iam
SyslogIdentifier=iam-voms-aa.%i

[Install]
WantedBy=multi-user.target
